@charset "utf-8";
html{
    width: 100%;
}
a{
    color: #eb6060;
    text-decoration: none;
    transition: all.6s ease;
}
a:hover{
    color: #ce9595;
    text-decoration: none;
    transition: all.6s ease;
}
a:active{
    color: blueviolet;
}
hr{
    display: block;
    border: 0px;
    height: 1px;
    padding: 0px;
}
body{
    background-image:url(family.jpg);
    position: inherit;
    font-size: 1em;
    font-family: Comic Sans MS, sans-serif;
    line-height: 135%;
    text-align: center;
}
#one #two #thre #four #five #six
, article img{
    max-width: 100%;
    height: auto;
    border-radius:40px;
    float: left;
    padding: 1%;
}
header, footer{
    width:98%;
    background-color: #fdf4f4;
    float: left;
}
header{
    border-bottom: 2px solid #f4ebeb;
    padding: 1%;
}

nav{
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif;
    margin-left: 15px;
}
footer{
    border-top: 2px solid #bfbbbb;
    margin-top: 7%;
    padding: 1%;
    padding-bottom: 2%;
}
footer img{
   width: 10%;
}

.left{
    float:left;
}
.right{
    float:right;
}
#menuHref a{
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 5px;
    color: #0d0c0c;
}
#menuHref a:hover{
    background-color: #ccc4c4;
}
@media(min-width:900px){
#one #two #thre #four #five #six{
    width: 31.33333%;
    margin-right: 2%;
    }}
@media(max-width:899px) and (min-width:700px){
#one #two #thre #four #five #six{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    }}
@media(max-width:699px){
#one #two #thre #four #five #six{
    width: 100%;
    margin-bottom: 10px;
    }}
